.blog-wrapper {
    height: 120px;
    width: 100%;
    display: block;
    background-color: #fff;
    margin-top: 20px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}

.blog-content {
    width: 290px;
    height: 100%;
}

.blog-image {
    height: 100%;
    width: 180px;
}

.blog-title {
    font-weight: 500;
    font-size: 1.6rem;
    margin: 10px;
    line-height: 2rem;
    height: 4rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.blog-description {
    font-weight: 500;
    font-size: 1.4rem;
    color: #b4b4b4;
    margin: 10px;
    line-height: 1.8rem;
    height: 5.4rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
